<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/almo-styles.css">
  <th:block layout:fragment="pageCss"></th:block>
  <title layout:title-pattern="$CONTENT_TITLE — Almoxarifado">Almoxarifado</title>
</head>
<body>
  <th:block th:replace="~{partials/sidebar-almoxarifado :: sidebar(${activePage})}"></th:block>

  <main class="container-conteudo" layout:fragment="content">
  </main>
</body>
</html>
