<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>
  <header th:fragment="sidebar(activePage)" class="sidebar">
    <nav class="navegacao">
      <div class="container-logomarca">
        <img src="/images/talento-logo-imagem.png" alt="logomarca do website" class="logomarca">
      </div>
      <div class="nav-titulo">Almoxarifado</div>
      <a th:classappend="${activePage == 'index'} ? 'active'" class="nav-item" href="/almoxarifado/index">Inicio</a>
      <a th:classappend="${activePage == 'cadastro-produto'} ? 'active'" class="nav-item"
        href="/almoxarifado/cadastro-produto">Cadastro de Produtos</a>
      <a th:classappend="${activePage == 'estoque'} ? 'active'" class="nav-item"
        href="/almoxarifado/estoque">Estoque</a>
      <a th:classappend="${activePage == 'disponibilidade'} ? 'active'" class="nav-item"
        href="/almoxarifado/disponibilidade">Disponibilidade</a>
      <a th:classappend="${activePage == 'reservas'} ? 'active'" class="nav-item"
        href="/almoxarifado/reservas">Reservas</a>
      <a th:classappend="${activePage == 'retirada'} ? 'active'" class="nav-item"
        href="/almoxarifado/retirada">Retirada</a>
      <div class="nav-titulo">Colaborador</div>
      <a class="nav-item" href="/index">Inicio</a>
    </nav>
    <div class="sidebar-footer">
      <a class="nav-item" href="/logout" style="border-radius: 10px;display: flex;justify-content: space-between;"><strong>Sair</strong>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
          <polyline points="10 17 15 12 10 7"></polyline>
          <line x1="15" y1="12" x2="3" y2="12"></line>
        </svg>
      </a>
      Talento em Linha · v1.0
    </div>
  </header>
</body>

</html>