.container-cards-pontos {
    width: 70%;
    display: flex;
    gap: 50px;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.card-ponto {
    min-width: 120px;
    width: 120px;
    min-height: 120px;
    height: 120px;
    border: 1px solid var(--borda);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-terciaria);
}

table {
    text-align: center;
    width: 80%;
    background-color: var(--cor-primaria)
}

@media (max-width: 500px) {
    .container-cards-pontos {
        width: 100vw;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    table{
        width: 100%;
    }
}