
<div layout:fragment="content">
  <div class="container-conteudo">
    <h2>Meus Dados</h2>
    <p>Informacoes do seu perfil e registro na empresa.</p>

    <h3>Dados Pessoais</h3>
    <table>
      <tbody>
        <tr>
          <th scope="row">Nome completo</th>
          <td th:text="${funcionario.nome}">Marcelo Felipe Belotto</td>
        </tr>
        <tr>
          <th scope="row">E-mail corporativo</th>
          <td>marcelo.belotto@empresa.com.br</td>
        </tr>
        <tr>
          <th scope="row">Senha</th>
          <td>
            ********
            <a href="#">Alterar senha</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Telefone</th>
          <td>(11) 98765-4321</td>
        </tr>
      </tbody>
    </table>

    <h3>Dados Corporativos</h3>
    <table>
      <tbody>
        <tr>
          <th scope="row">Numero de registro</th>
          <td th:text="${funcionario.np}">00047-SP</td>
        </tr>
        <tr>
          <th scope="row">Cargo atual</th>
          <td th:text="${funcionario.cargo}">Eletricista de Manutenção II</td>
        </tr>
        <tr>
          <th scope="row">Setor</th>
          <td th:text="${funcionario.setor}">Manutenção</td>
        </tr>
        <tr>
          <th scope="row">Data de admissao</th>
          <td>14/03/2022</td>
        </tr>
        <tr>
          <th scope="row">Tempo de casa</th>
          <td>3 anos e 1 mes</td>
        </tr>
      </tbody>
    </table>

    <h3>Gestor Imediato</h3>
    <table>
      <tbody>
        <tr>
          <th scope="row">Nome</th>
          <td>Marcos Roberto de Andrade</td>
        </tr>
        <tr>
          <th scope="row">Cargo</th>
          <td>Gerente de Operacoes</td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>marcos.andrade@empresa.com.br</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</html>
